.venv/
dev/

# project files
.pre-commit-config.yaml
CONTRIBUTING.md
LICENSE
README.md

# dot env files (e.g. .env, .env.production)
.env*
# non-dot env files (e.g. env, env.production)
env*

# ignore data (is a volume in docker-compose)
data/
assets/
db/
scripts/
