name: Run ruff checks.

on:
  pull_request:
    branches:
      - main

  # Manually trigger workflow
  workflow_dispatch:

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - uses: astral-sh/ruff-action@v3
      - run: ruff check --no-fix
      - run: ruff format --check
